<%= stylesheet_link_tag "application"%>

<div class="logger_in_form">
<p><%= notice %></p>

<h1 class="custom-login">Listing inventorys</h1>

<%= stylesheet_link_tag "application"%>

<div class="logger_in_form">
<div id="inventorys">
  <div class="inventory">
    <p><strong>inventory ID: </strong></p>
    <p><strong>Name: </strong></p>
    <p><strong>Description </strong></p>
  </div>

  <div id="inventorys">
   <%= @inventory.each do |inventory| %>
    <%= render inventory %>
     <p><%= link_to 'Show the inventory', inventory %></p>
  <% end %>
</div>

<%= link_to 'New inventory', new_inventory_path %>
</div>
</div>
