<%= stylesheet_link_tag "application"%>

<div class="logger_in_form">
<p><%= notice %></p>

<%= render @inventory %>

<div>
 <h3>Welcome <%= current_user.name %></h3>
  <%= link_to 'Back', inventory_path %> |
  <%= link_to 'Edit', edit_inventory_path(@inventory) %>
  <%= button_to 'Destroy', @inventory, method: :delete %>
</div>
</div>
