<%= stylesheet_link_tag "application"%>

<div class="logger_in_form"><%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field custom-login">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field custom-login">
    <%= form.label :prepartion_time %>
    <%= form.text_field :preparationtime %>
  </div>

  <div class="field custom-login">
    <%= form.label :cooking_time %>
    <%= form.text_field :cookingtime %>
  </div>

  <div class="field custom-login">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field custom-login">
    <%= form.label :public %>
    <%= form.check_box :public %>
  </div>

  <div class="actions">
     <button class="mybtn" type="button"><%= form.submit %> or <%= link_to 'Cancel', recipes_path %></button>
  </div>
<% end %>
