<%= stylesheet_link_tag "application"%>

<div class="logger_in_form">
<div id="<%= dom_id recipe %>">
  <p class="custom-login"><strong>Recipe ID: </strong>
    <%= recipe.id %>
  </p>
  <p><strong>Name: </strong>
    <%= recipe.name %>
  </p>
  <p><strong>Preparation time: </strong>
    <%= recipe.preparationtime %> minutes
  </p>

  <p><strong>Cooking time: </strong>
    <%= recipe.cookingtime %> minutes
  </p>

  <p><strong>Description: </strong>
    <%= recipe.description %>
  </p>

  <p><strong>Public: </strong>
    <%= recipe.public %>
  </p>

  <p><strong>User: </strong>
    <%= recipe.user_id %>
  </p>

</div>
</div>
