<%= stylesheet_link_tag "application"%>

<div class="logger_in_form">
<div id="<%= dom_id user %>">


  <p>
    <strong>User ID: </strong>
    <%= user.id %>
  </p>
  <p>
    <strong>Name: </strong>
    <%= user.name %>
  </p>
  <p>Welcome <%= current_user.name %></p>
</div>
</div>
