<p><%= notice %></p>
<%= stylesheet_link_tag "application"%>

<div class="logger_in_form">
<h1>Users</h1>

<div id="users">
  <%= @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to 'Show', user %>
    </p>
  <% end %>
</div>
</div>

<%= link_to 'New User', new_user_path %>
