<p><% notice %></p>
<%= stylesheet_link_tag "application"%>

<div class="logger_in_form">
<%= render @user %>

<div>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>

  <%= button_to 'Destroy', @user, method: :delete %>
</div>
</div>
