<div id="<%= dom_id(food) %>">
  <p><strong>Food ID: </strong><%= food.id %></p>
  <p><strong>Name: </strong><%= food.name %></p>
  <p><strong>Measurement Unit: </strong><%= food.measurement_unit %></p>
  <p><strong>Price: </strong><%= food.price %></p>
  <p><strong>Quantity: </strong><%= food.quantity %></p>
  <p><stron>User: </strong><%= food.user_id %></p>
</div>
