<%= stylesheet_link_tag "application"%>

<div class="logger_in_form">
<div id="<%= dom_id(food) %>">
  <p><strong><%= food.id %> </strong></p>
  <p><strong><%= food.name %> </strong></p>
  <p><strong><%= food.measurementunit %> </strong></p>
  <p class="price"><%= food.price %></p>
  <p class="price"><%= food.quantity %> <%= food.measurementunit %></p>
  <p class="price"><%= food.user_id %></p>
  <%= button_to "Delete Food", @food, method: :delete %>
</div>
</div>
