<%= stylesheet_link_tag "application"%>

<div class="logger_in_form">
<p><%= notice %></p>

<h1 class="custom-login">Listing foods</h1>
<h2 class="custom-login">My Favourite Foods</h2>

<%= stylesheet_link_tag "application"%>

<div class="logger_in_form">
<div id="foods">
  <div class="food">
    <p><strong>Food ID: </strong></p>
    <p><strong>Name: </strong></p>
    <p><strong>Measurement Unit: </strong></p>
    <p><strong>Price: </strong></p>
    <p><strong>Quantity: </strong></p>
    <p><strong>User ID: </strong></p>
    <p><strong>Activity: </strong></p>
  </div>

  <div id="foods">
   <%= @foods.each do |food| %>
    <%= render food %>
     <p><%= link_to 'Show the food', food %></p>
  <% end %>
</div>

<%= link_to 'New Food', new_food_path %>
</div>
</div>
