<%= stylesheet_link_tag "application"%>

<div class="logger_in_form">
<%= form_with(model: recipe_food) do |form| %>
  <% if recipe_food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe_food.errors.count, "error") %> prohibited this recipe_food from being saved:</h2>

      <ul>
      <% recipe_food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field custom-login">
    <%= form.label :recipe_id %>
    <%= form.text_field :recipe_id %>
  </div>
  <div class="field custom-login">
    <%= form.label :food_id %>
    <%= form.text_field :food_id %>
  </div>
  <div class="field custom-login">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="actions custom-login">
    <button class="mybtn" type="button"><%= form.submit %></button>
  </div>
<% end %>

</div>
