<%= stylesheet_link_tag "application"%>

<div class="logger_in_form">
<p><%= notice %></p>

<%= render @recipe_food %>

<div>
  <%= link_to 'Edit', edit_recipe_food_path(@recipe_food) %> |
  <%= link_to 'Back', recipe_foods_path %>
  <%= button_to 'Destroy', @recipe_food, method: :delete %>
</div>
</div>
