<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="logo">Logo</div>
      <ul id="links">
        <a class="link-item"><%= link_to "My Recipes", root_path %></a>
        <a><%= link_to "My Foods", foods_path %></a>
        <a><%= link_to "Recipe foods index", recipe_foods_path %></a>
      </ul>
      <ul id="links">
        <% if user_signed_in? %>
          <h3>Welcome <%= current_user.name %></h3>
          <a><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></a>
          <a><%= link_to "Edit Profile", edit_user_registration_path %></a>
        <% else %>
          <a><%= link_to "Sign In", new_user_session_path %></a>
          <a><%= link_to "Sign Up", new_user_registration_path %></a>
        <% end %>
      </ul>
    </header>
    <h3 class="notice"><%= notice %></h3>
    <h3 class="alert"><%= alert %></h3>
    <%= yield %>
  </body>
</html>
